<header>
    <nav class="container dr-header">
        <div class="row">
            <div class="column">
                <a [routerLink]="blogLink">
                    <img class="dr-logo" src="../../../../assets/images/logo.svg" alt="logo">
                </a>
            </div>
            <div class="column">
                <menu class="dr-menu">
                    <li>
                        <a href="{{socialLinks.GITHUB}}"
                           target="_blank">
                            <i class="fab fa-github"></i>
                        </a>

                    </li>
                    <li>
                        <a href="{{socialLinks.FACEBOOK}}"
                           target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{socialLinks.INSTAGRAM}}"
                           target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </menu>
            </div>
        </div>
    </nav>
</header>
