<article class="column dr-blog-stream-item">
        <div class="row">
            <div class="column">
                <div class="dr-blog-post-create">{{post.createdAt | date : 'mediumDate'}}</div>
                <div class="dr-blog-post-title">
                    <h2>{{post.title}}</h2>
                </div>
                <ckeditor (change)="onChange($event)"
                          [editor]="editor"
                          [data]="post.content"></ckeditor>
            </div>
        </div>
</article>
